{
  "extends": "eslint-config-prospace",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    // React 17 no need to import React on each component
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
